body{
    background-attachment: fixed;
    background: linear-gradient(90deg, rgba(203,242,17,1) 0%, rgba(0,212,255,1) 100%); 
}

.head{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    color: rgba(203,242,17,1); 
    font-family: "Overpass", monospace;
    font-weight: 900;
    width: 100vw;
    border-radius: 0 0 10px 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head__banner{
    margin:15px 20px 10px 40px;
    display: flex;
    align-items: center;

}
.head__logo{
    height: 50px;
}

.head__title{
    display: inline-block;
    margin: 2px 20px 0 10px; 
}

.head__list{
    display: inline-block;
}

.head__item,.head__item a, .head__item:visited{
    display: inline-block;
    margin: 0 20px 0 20px;
    text-decoration: none;
    color: rgba(0,212,255,1);
    transition: all 0.5s ease;
}

.head__item a:hover{
    font-size: 18px;
}

.container{
    margin: 90px 30px 20px 30px;
    display: flex;
    flex-direction: column;
}

.home{
    display: flex;
    font-family: "Overpass", monospace;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.new{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: "Overpass", monospace;
    align-items: center;
}

.new__form{
    width:80%;
    display: flex;
    flex-direction: column;
}

.container__products{
    display: flex;
}

.lastest{
    justify-self: center;
    text-align: center;
    width: 50%;
}

.lastest__title{
    font-family: "Overpass",monospace;
}

.new__input,.search__input{
    margin: 20px 10px 20px 10px;
    align-self: flex-end;
    width: 100%;
    border-radius: 30px;
    height: 33px;
    background: #000000;
    border-style: none; 
    color: #cbf211;
    transition: all 0.5s ease;
    outline-style: none;
}

.new__submit,.search__submit{
    width:50%;
    outline-style: none;
    cursor: pointer;
    border-style: none; 
    height: 33px;
    border-radius: 30px;
    font-family: "Overpass", monospace;
    background: #000000;
    color: #cbf211;
    transition: all 0.5s ease;
}

.new__input::placeholder, .search__input::placeholder{
    color: #ccf21160;
    padding-left: 15px;
}

.new__input:focus, .search__input:focus{
    border-bottom:5px ;
    border-style: solid;
    border-color: #cbf211;
}

.new__submit:hover, .search__submit:hover{
    font-size: 18px;
    height: 32px;
}

.lastest__empty{
    font-size: 24px;
    font-family: "Overpass", monospace;
    font-weight: 400;
}

.lastest__card{
    background-color: #000000;
    height: 40px;
    color: ​#00d4ff;
    border-radius: 30px;
    margin: 5px;
    transition: all 0.5s ease;
}

.lastest__list{
    display: flex;
    justify-content: space-around;
    font-family: "Overpass", monospace;
    font-weight: 400;
    margin-right: 20px;
    align-items: flex-end;
}

.lastest__item{
    display: inline-block;
    margin-top: 10px;
}

.lastest__card ul li{
    color: #00d4ff;
}

.search{
    margin-top: 40px;
    align-self: center;
    width:40%;
    text-align: center;
}

.search__title{
    font-family: "Overpass",monospace;
    font-weight: 900;
}

.search__result{
    font-family: "Overpass",monospace;
    font-weight: 400;
}